<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for putting your confidence in Jungle!
      Your order will be shipped shortly.
    </h1>
    <br>
    <h4>Here is a summary of your order:</h4>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
      </ul>
    <p>Have a great day!</p>
  </body>
</html>